@charset "utf-8";
/* CSS Document */
@media screen and (max-width:600px){
.content{
	width:80%;
	margin:50px auto;		
}
.row{
	width:100%;
}
.content .row .row div{
	color:#000;
	font-size:16px;
}
.jumbo{
	width:100%;
}
.col-lg-6{
	font-weight:500;
}
#ls{
	margin-top:20px;
}
#intro{
	width:100%;
	margin:0 auto;
}
#hh{
	color:#000;
	font-weight:600;
}
#intro .col-lg-5{
	text-align:center;
}
#intro .col-lg-7{
	text-align:center;
}
}