@charset "utf-8";
/* CSS Document */

.content{
	width:80%;
	margin:50px auto;		
}
.row{
	width:100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.row .row:hover{
	cursor:pointer;
	color:#F00;
}
.content .row .row div{
	color:#000;
	font-size:16px;
}

.jumbo{
	width:100%;
}
.col-lg-6{
	font-weight:500;
}
#ls{
	margin-top:10px;
}
#intro{
	width:100%;
	margin:0 auto;
}
#intro .col-lg-5{
	text-align:right;
}
#intro .col-lg-7{
	text-align:left;
}

