@charset "utf-8";
/* CSS Document */
.content{
	width:80%;
	margin:50px auto;		
}
.row{
	margin-left:0;
	width:100%;
	color:#000;
}
.row .row{
	padding-top:8px;
}
.row .row:hover{
	cursor:pointer;
	color:#F00;
}
.row .row b{
	color:#000;
}
.content .row .row div{
	font-size:16px;
}
.jumbo{
	width:80%;
	text-align:left;
	padding: 0px 30px 30px 30px;
}
#hd{
	font-size:24px;
	margin-bottom:15px;
	width:100%;
}
.row{
color:#000;
}
